= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message

  .row
    .col-9
      .form-group
        = form.label :name
        = form.text_field :name, id: :user_name, class:'form-control form-control-lg'
    .col-3
      .form-group
        = form.label :department_id, 'Choose a department'
        =select_tag 'user[department_id]', options_from_collection_for_select(get_departments, 'id', 'department_name'), { :class => 'form-control form-control-lg'}

  .form-group
    = form.label :title
    = form.text_field :title, id: :user_title, class:'form-control form-control-lg'

  .form-group
    = form.label :email
    = form.text_field :email, id: :user_email, class:'form-control form-control-lg'

  .form-group.tags
    %label Tags
    =react_component('TagSearch', {taggings: all_tags, terms: user.tag_names, binding:'user[tag_names]'})

  .actions
    = form.submit 'Save', class:'btn btn-success btn-lg'
