%p#notice= notice
#user-detail-view
  .avatar
    %img{src:@user.photo_url}

  .information
    %h3= @user.name
    %p= @user.title
    %p= @user.department.name
    %a{href:"mailto: #{@user.email}"} Email me

  .bio
    = @user.bio.html_safe

  .tags
    = @user.tag_names

  = link_to 'Edit', edit_user_path(@user)
  |
  \#{link_to 'Back', users_path}
