#user-detail-view
  .user-flex
    .user-side-container
      .avatar
        %img{src:@user.photo_url}

      .links
        %a{href:"mailto: #{@user.email}"} Email me
        %a{href:"#"}=@user.slack_username || 'Slack Username'

      %hr
      .tag-cluster
        %label Tags
        .tags-container
          -@user.tag_names.each do |tag|
            %a{href:search_path(terms:tag)}
              %span{role:'tag'}=tag


    .user-detail-container
      .information
        %h3
          = @user.name
          = link_to 'Edit', edit_user_path(@user)
        %span.title= @user.title
        %span.department= @user.department.name

        .bio
          %label Bio
          = @user.bio.html_safe
