= form_with(model: department, local: true) do |form|
  - if department.errors.any?
    #error_explanation
      %h2
        = pluralize(department.errors.count, "error")
        prohibited this department from being saved:
      %ul
        - department.errors.full_messages.each do |message|
          %li= message

  .form-group
    = form.label :department_name
    = form.text_field :department_name, id: :department_department_name, class:'form-control form-control-lg'

  .form-group
    = form.label :mission, 'Mission Statement'
    = form.text_field :mission, id: :department_mission, class:'form-control form-control-lg'

  .form-group.tags
    %label Tags
    =react_component('TagSearch', {taggings: all_tags, terms: department.tag_names, binding:'department[tag_names]'})

  .actions
    = form.submit 'Save', class:'btn btn-success btn-lg'
