= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message

  %input{type:'text', name: 'post[user_id]', value: post.user_id || 1}

  .row
    .col-9
      .form-group
        = form.label :title
        = form.text_field :title, id: :post_title, class:'form-control form-control-lg'
    .col-3
      .form-group
        = form.label :department_id, 'Choose a department'
        =select_tag 'post[department_id]', options_from_collection_for_select(get_departments, 'id', 'department_name'), { :class => 'form-control form-control-lg'}

  .form-group
    = form.label :post_type
    .post-type-container
      -1.upto(4) do |index|
        .post-type
          %label{for:"pt-#{index}"}
            %img{src:"/admin-images/post-type-#{index}.png"}
            .description
              %p This message will explain what this post is.
            %input.form-control{name:'post[post_type]', value: index, type:'radio', id:"pt-#{index}"}


  .form-group.field.details
    = form.label :details
    =react_component('Wysiwyg', {details: post.details || ''})

  .form-group.tags
    %label Tags
    =react_component('TagSearch', {taggings: all_tags, terms: post.tag_names, binding:'post[tag_names]'})

  .actions
    %input.wz-output{type:'hidden', name: 'post[details]'}
    = form.submit 'Save', class:'btn btn-success btn-lg'
