/ .card.bg-light.mb-4
/   .card-body
/     =@permissions[:current_user].name
/     can post:
/     =@permissions[:available_post_types].map {|type| type.title }
/     to:
/     =@permissions[:available_departments].map {|dept| dept.name }

-if @permissions[:available_departments].empty? || @permissions[:available_post_types].empty?
  %p.lead
    You are unable to create Posts.
    Send a message to your
    %a{'data-placement'=>'bottom', 'data-toggle'=>'tooltip', 'title'=>@permissions[:current_user].department.department_head.name, href: user_path(@permissions[:current_user].department.department_head)}
      Department Head
    to gain access.
-else
  = form_with(model: post, local: true) do |form|
    - if post.errors.any?
      #error_explanation
        %h2
          = pluralize(post.errors.count, "error")
          prohibited this post from being saved:
        %ul
          - post.errors.full_messages.each do |message|
            %li= message

    .form-group.required
      = form.label :post_type_id, "Choose the type of post you'd like to create."
      .post-type-container
        -@permissions[:available_post_types].each do |type|
          .post-type
            %label{for:"pt-#{type.id}"}
              .post-type-block
                .icon
                  %img{src:"/admin-images/#{type.name}.png"}
                .description
                  %p
                    %span.bold=type.title
                    =type.description
              %input.form-control{name:'post[post_type_id]', value: type.id, type:'radio', id:"pt-#{type.id}"}

    .row
      .col-9
        .form-group.required
          = form.label :title
          = form.text_field :title, id: :post_title, class:'form-control form-control-lg'
      .col-3
        .form-group.required
          = form.label :department_id, 'Choose a department'
          =select_tag 'post[department_id]', options_from_collection_for_select(@permissions[:available_departments], 'id', 'name'), { :class => 'form-control form-control-lg'}

    .form-group
      = form.label :image_url, 'Video URL (Optional)'
      = form.text_field :image_url, id: :post_image_url, class:'form-control form-control-lg'

    .form-group.tags.required
      %label Tags
      =react_component('TagSearch', {taggings: all_tags, terms: post.tag_names, binding:'post[tag_names]'})

    .form-group.field.details.required
      = form.label :body
      =react_component('Wysiwyg', {body: post.body || ''})

    .form-group.field.details.required
      = form.label :summary
      = form.text_area :summary, id: :post_summary, class: 'form-control form-control-lg'

    .row
      .col-6
        .form-group
          = form.label :action_url, 'Additional URL (Optional)'
          = form.text_field :action_url, id: :post_action_url, class:'form-control form-control-lg'
      .col-6
        = form.label :expiration_date, 'When will this post expire? (Optional)'
        =react_component('DatePicker', {expiration_date: post.expiration_date || ''})
    .actions
      %input.wz-output{type:'hidden', name: 'post[body]'}
      %input.expiration-output{type:'hidden', name: 'post[expiration_date]'}
      %input{type:'hidden', name: 'post[author_id]', value: post.author_id || 1}
      = form.submit 'Save', class:'btn btn-success btn-lg'
