= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title, id: :post_title

  .field
    = form.label :department_id
    =select_tag 'post[department_id]', options_from_collection_for_select(get_departments, 'id', 'department_name')

    = form.label :post_type
    .post-type-container
      -1.upto(4) do |index|
        .post-type
          %label{for:"pt-#{index}"}
            %input{name:'post[type]', value: index, type:'radio', id:"pt-#{index}"}
            %img{src:"/admin-images/post-type-#{index}.png"}
  .field.details
    =react_component('Wysiwyg', {details: post.details})
    %input.wz-output{type:'hidden', name: 'post[details]'}

  .actions
    = form.hidden_field :user_id, id: :post_user_id
    = form.submit